<h1 class="site-logo">
    <a class="ksr-logo" href="https://www.kickstarter.com/?ref=nav">Kickstarter</a>
</h1>
<nav aria-labelledby="main-navigation" class="left" role="navigation">
    <h2 class="for-screenreader" id="main-navigation">Main menu</h2>
    <ul class="primary-menu">
        <li class="primary-menu-link"><a href="https://www.kickstarter.com/discover?ref=nav">Discover</a></li>
        <li class="primary-menu-link"><a href="https://www.kickstarter.com/learn?ref=nav">Start</a></li>
    </ul>
</nav>
<nav aria-labelledby="user-navigation" class="right" role="navigation">
    <h2 class="for-screenreader" id="user-navigation">User menu</h2>
    <ul class="user-menu js-user-menu">
        <li class="logged-out-link"><a href="https://www.kickstarter.com/signup?ref=nav">Sign up</a></li>
        <li class="logged-out-link"><a href="https://www.kickstarter.com/login?ref=nav">Log in</a></li>
    </ul>
</nav>
<form accept-charset="UTF-8" action="https://www.kickstarter.com/projects/search" class="js-header-livesearch nav-livesearch" method="get" role="search">
    <div style="margin:0;padding:0;display:inline"><input class="hidden" name="utf8" type="hidden" value="✓"></div>
    <span aria-hidden="true" class="ksr-icon__search"></span>
    <input aria-label="Search Projects" class="nav-livesearch-input js-search-term text" data-tracker-name="Header Live Search" id="term" name="term" placeholder="Search Projects" type="text" autocomplete="off">
</form>
