<div class="center jGrowl" id="growl_section"></div>
<div class="Project947809001_cxt Project-state-live Project-ended-undefined Project-is_starred-undefined" id="main_content">
<div id="content-wrap">
<div class="NS_projects__project_share">
    <div class="ksr-popover z3" data-target-id="#project_share">
        <div class="arrow arrow-grey"></div>
        <div class="arrow arrow-white"></div>
        <div class="ksr-popover-title bg-grey-light full-width border-box">
            <h4 class="mb0">Share this project</h4>

            <div class="close fastclick btn btn--gray btn--small">Done</div>
        </div>
        <div class="NS_projects__project_share mobile-center">
            <div class="facebook mr2 inline-block">
                <a class="js-facebook-share grey-dark h5" data-facebook-shares-url="/projects/ysnet/shenmue-3/facebook_share_count" href="./Shenmue 3 by Ys Net — Kickstarter_files/Shenmue 3 by Ys Net — Kickstarter.html"><span class="ss-icon ss-social-circle ss-facebook margin-right"></span>
                    <b>Share</b>
                <span class="share_bubble inline-block border h6"><div class="triangle grey inline-block"></div>
                <div class="triangle white inline-block"></div>
                <span class="count grey-dark h6">75,818</span></span>
                </a></div>
            <div class="twitter mr2 inline-block">
                <a class="js-twitter-share grey-dark h5" href="https://twitter.com/intent/tweet?text=Shenmue%203%20is%20popular%20on%20%40Kickstarter%21&url=http%3A%2F%2Fkck.st%2F1IGjtva" rel="nofollow"><span class="ss-icon ss-social-circle ss-twitter margin-right"></span>
                    <b>Tweet</b>
                </a></div>
            <div class="tumblr mr2 inline-block">
                <a class="js-tumblr-share grey-dark h5" href="https://www.tumblr.com/share/video?embed=https%3A%2F%2Fwww.kickstarter.com%2Fprojects%2Fysnet%2Fshenmue-3&caption=Shenmue%203+-+Yu%20Suzuki%20presents%20the%20long%20awaited%20third%20installment%20in%20the%20Shenmue%20series.+-+http%3A%2F%2Fkck.st%2F1IGjtva" rel="nofollow"><span class="ss-icon ss-social-circle ss-tumblr margin-right"></span>
                    <b>Share</b>
                </a></div>
            <div class="pinterest mr2 inline-block">
                <button class="js-pinterest-share pinterest-share grey-dark h5">
                    <span class="ss-icon ss-social-circle ss-pinterest margin-right"></span>
                    <b>Pin</b>
                </button>
            </div>
            <div class="embed inline-block mr2">
                <a class="remote_modal_dialog js-embed-share grey-dark h5" data-modal-title="Embed a widget on your site" data-tracker-name="Embed" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/widget"><span class="ss-icon ss-navigateleft h6"></span>
                    <span class="ss-icon ss-navigateright margin-right h6"></span>
                    <b>Embed</b>
                </a></div>
            <div class="curate mr2 inline-block">
            </div>
        </div>

    </div>
    <div class="ksr-popover z3" data-target-id="#project_share_mobile">
        <div class="arrow arrow-grey"></div>
        <div class="arrow arrow-white"></div>
        <div class="ksr-popover-title bg-grey-light full-width border-box">
            <h4 class="mb0">Share this project</h4>

            <div class="close fastclick btn btn--gray btn--small">Done</div>
        </div>
        <div class="pt2">
            <a class="btn btn--twitter btn--block mb1" href="https://twitter.com/intent/tweet?text=Shenmue%203%20is%20popular%20on%20%40Kickstarter%21&url=http%3A%2F%2Fkck.st%2F1IGjtva" rel="nofollow" target="_blank" title="Tweet"><span class="ss-icon ss-social ss-twitter"></span>
                Tweet
            </a><a class="btn btn--facebook btn--block mb1" href="https://www.facebook.com/share.php?u=http%3A%2F%2Fkck.st%2F1IGjtva&t=Shenmue%203&v=4" rel="nofollow" target="_blank" title="Share on Facebook"><span class="ss-icon ss-social ss-facebook"></span>
                Share
            </a>
            <button class="js-pinterest-share pinterest-share btn btn--pinterest btn--block mb1">
                <span aria-hidden="true" class="ksr-icon__pinterest"></span>
                Pin
            </button>
            <a class="btn btn--gray btn--block" href="mailto:?body=%0A%0A%20%20%20%20%20%20Shenmue%203%0A%0A%20%20%20%20%20%20https%3A%2F%2Fwww.kickstarter.com%2Fprojects%2Fysnet%2Fshenmue-3%0A%20%20%20%20"><span class="ss-icon ss-mail"></span>
                Email
            </a></div>
    </div>
</div>

<section class="NS_projects__hero_funding bg-grey-light">
<!-- / Hide this on mobile since we want the video to be at the top -->
<div class="mobile-hide py4 px2">
    <div class="NS_projects__header center">
        <h2 class="normal mb1"><a class="green-dark" href="./Shenmue 3 by Ys Net — Kickstarter_files/Shenmue 3 by Ys Net — Kickstarter.html">Shenmue 3</a></h2>

        <p class="green-dark h5 mb0 mobile-show">
            by <b><a class="green-dark" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio">Ys Net</a></b>
        </p>

        <p class="green-dark h5 mb0 mobile-hide">
            by <b><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio">Ys Net</a></b>
        </p>
    </div>

</div>
<div class="container-flex px2">
<div class="row">
    <div class="table">
        <div class="table-cell col-8 px-gutter">
            <div class="project-image" data-has-video="true" id="video-section">
                <div class="video-player vertically_center large"
                     data-dimensions="{&quot;width&quot;:640,&quot;height&quot;:480}"
                     data-image="https://ksr-ugc.imgix.net/projects/1895493/photo-original.png?v=1433731862&amp;w=1024&amp;h=768&amp;fit=crop&amp;auto=format&amp;q=92&amp;s=2e31dc672e0f9e90113f2a97ad1d8c10"
                     data-video-tracker-url="https://www.kickstarter.com/projects/ysnet/shenmue-3/video/plays"
                     data-video-url="https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_high.mp4"
                     data-video="{&quot;id&quot;:550606,&quot;status&quot;:&quot;successful&quot;,&quot;high&quot;:&quot;https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_high.mp4?2015&quot;,&quot;base&quot;:&quot;https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_base.mp4?2015&quot;,&quot;webm&quot;:&quot;https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-webm.webm?2015&quot;,&quot;width&quot;:640,&quot;height&quot;:360,&quot;frame&quot;:&quot;https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_base.jpg?2015&quot;}"
                     id="video_pitch"
                     style="height: 511px; max-height: 985px;">
                    <video class="has_webm landscape" preload="none">
                        <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_high.mp4" type="video/mp4; codecs=&quot;avc1.64001E, mp4a.40.2&quot;">
                        <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-h264_base.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                        <source src="https://d2pq0u4uni88oo.cloudfront.net/projects/1895493/video-550606-webm.webm" type="video/webm">
                        You'll need an HTML5 capable browser to see this content.
                    </video>
                    <img alt="Shenmue 3 project video thumbnail" class="has_played_hide poster landscape" src="./Shenmue 3 by Ys Net — Kickstarter_files/photo-original.png" style="min-height: 0px;">

                    <div class="play_button_container absolute-center">
                        <button aria-label="Play video" class="play_button_big play_button_dark rounded has_played_hide">
                            <span aria-hidden="true" class="ksr-icon__play"></span>
                            Play
                        </button>
                    </div>
                    <div class="player_controls absolute-bottom mb2 rounded white bg-green-dark forces-video-controls_hide">
                        <div class="left">
                            <button class="no-margin button button_icon button_dark playpause play mr1">
                                <span class="play ss-icon ss-play"></span>
                                <span class="pause ss-icon ss-pause"></span>
                            </button>
                            <time class="time current_time h12 left">00:00</time>
                        </div>
                        <div class="right">
                            <time class="time total_time h12 left mr1">00:00</time>
                            <button class="no-margin left button button_icon button_icon_white volume">
                                <span class="ss-icon ss-volume icon_volume_nudge"></span>
                                <span class="ss-icon ss-highvolume"></span>
                            </button>
                            <div class="volume_container left">
                                <div class="progress_bar progress_bar_dark progress_bg">
                                    <div class="progress_bar_bg"></div>
                                    <div class="progress progress_bar_progress"></div>
                                    <div aria-label="Volume" class="progress_handle progress_bar_handle" role="slider" tabindex="0"></div>
                                </div>
                            </div>
                            <button aria-label="Fullscreen" class="no-margin left button button_icon button_icon_white fullscreen">
                                <span class="ss-icon ss-expand"></span>
                                <span class="ss-icon ss-delete"></span>
                            </button>
                        </div>
                        <div class="clip">
                            <div class="progress_container pr1 pl1">
                                <div class="progress_bar progress_bar_dark progress_bg">
                                    <div class="progress_bar_bg"></div>
                                    <div class="buffer progress_bar_buffer"></div>
                                    <div class="progress progress_bar_progress"></div>
                                    <div aria-label="Played" class="progress_handle progress_bar_handle" role="slider" tabindex="0"></div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="table-cell col-4 px-gutter">
            <div class="NS_projects__stats">
                <div class="digits_7" id="stats">
                    <div class="row">
                        <div class="col col-12 mb1 stat-item">
                            <div class="num h1 bold" data-backers-count="41584" id="backers_count">
                                <data class="Project947809001" data-format="number" data-value="41585" itemprop="Project[backers_count]">41,585</data>
                            </div>
                            <span class="bold h5">backers</span>
                        </div>
                        <div class="col col-12 mb1 stat-item">
                            <div class="num h1 bold nowrap" data-goal="2000000.0" data-percent-raised="1.651977545" data-pledged="3303955.09" id="pledged">
                                <data class="Project947809001" data-currency="USD" data-format="shorter_money" data-precision="0" data-value="3303984.09" data-without_code="true" itemprop="Project[pledged]">$3,303,984</data>
                                <span class="money usd project_currency_code"></span>
                            </div>
<span class="bold h5">
pledged of <span class="money usd no-code">$2,000,000</span> <span class="mobile-hide">goal</span>
</span>
                        </div>
                        <span data-duration="32.0" data-end_time="2015-07-17T21:51:04-04:00" data-hours-remaining="690.4286302069823" id="project_duration_data"></span>

                        <div class="col col-12 stat-item">
                            <div class="Project947809001" data-conditions="[{&quot;!state&quot;:[&quot;canceled&quot;,&quot;suspended&quot;]}]" data-evaluation="true" data-render="&quot;&lt;div class=\&quot;ksr_page_timer poll stat\&quot; data-dynamic=\&quot;5\&quot; data-end_time=\&quot;2015-07-17T21:51:04-04:00\&quot; data-poll_url=\&quot;https://d2oher2uhvl0ur.cloudfront.net/projects/ysnet/shenmue-3/stats.json?v=1\&quot;&gt;\n&lt;div class=\&quot;num h1 bold\&quot;&gt;&amp;nbsp;&lt;/div&gt;\n&lt;span class=\&quot;text bold h5\&quot;&gt;&amp;nbsp;&lt;/span&gt;\n&lt;/div&gt;\n&quot;">
                                <div class="ksr_page_timer poll stat" data-dynamic="5" data-end_time="2015-07-17T21:51:04-04:00" data-poll_url="https://d2oher2uhvl0ur.cloudfront.net/projects/ysnet/shenmue-3/stats.json?v=1">
                                    <div class="num h1 bold">28</div>
                                    <span class="text bold h5">days to go</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- / Only renders for non live projects -->
            <div class="Project947809001"
                 data-conditions="[{&quot;!state&quot;:&quot;live&quot;}]"
                 data-evaluation="false"
                 data-render="&quot;&lt;div class=\&quot;NS_projects__funding_bar Project-ended-false Project-is_starred- Project-state-live Project947809001_cxt pb2 pt2\&quot;&gt;\n&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:&amp;quot;successful&amp;quot;}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-green pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;h3 class=\\&amp;quot;normal mb1\\&amp;quot;&amp;gt;Funded!&amp;lt;/h3&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 h5\\&amp;quot;&amp;gt;\\nThis project was successfully funded &amp;lt;data class=\\&amp;quot;Project947809001\\&amp;quot; data-format=\\&amp;quot;distance_date\\&amp;quot; data-value=\\&amp;quot;&amp;amp;quot;2015-07-17T21:51:04-04:00&amp;amp;quot;\\&amp;quot; itemprop=\\&amp;quot;Project[deadline]\\&amp;quot;&amp;gt;just now&amp;lt;/data&amp;gt;.\\n&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:[&amp;quot;started&amp;quot;,&amp;quot;submitted&amp;quot;]}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-grey pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;h3 class=\\&amp;quot;normal mb1\\&amp;quot;&amp;gt;THIS PROJECT IS NOT LIVE&amp;lt;/h3&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 h5\\&amp;quot;&amp;gt;\\nThis is only a draft that the creator has chosen to share.\\n&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:&amp;quot;suspended&amp;quot;}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-red pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;h3 class=\\&amp;quot;normal mb1\\&amp;quot;&amp;gt;Funding Suspended&amp;lt;/h3&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 h5\\&amp;quot;&amp;gt;\\nFunding for this project was suspended by Kickstarter &amp;lt;data class=\\&amp;quot;Project947809001\\&amp;quot; data-format=\\&amp;quot;distance_date\\&amp;quot; data-value=\\&amp;quot;&amp;amp;quot;2015-06-15T21:51:04-04:00&amp;amp;quot;\\&amp;quot; itemprop=\\&amp;quot;Project[state_changed_at]\\&amp;quot;&amp;gt;3 days ago&amp;lt;/data&amp;gt;.\\n&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:&amp;quot;canceled&amp;quot;}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-grey pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;h3 class=\\&amp;quot;normal mb1\\&amp;quot;&amp;gt;Funding Canceled&amp;lt;/h3&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 h5\\&amp;quot;&amp;gt;\\nFunding for this project was canceled by the project creator &amp;lt;data class=\\&amp;quot;Project947809001\\&amp;quot; data-format=\\&amp;quot;distance_date\\&amp;quot; data-value=\\&amp;quot;&amp;amp;quot;2015-06-15T21:51:04-04:00&amp;amp;quot;\\&amp;quot; itemprop=\\&amp;quot;Project[state_changed_at]\\&amp;quot;&amp;gt;3 days ago&amp;lt;/data&amp;gt;.\\n&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:&amp;quot;failed&amp;quot;}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-grey pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;h3 class=\\&amp;quot;normal mb1\\&amp;quot;&amp;gt;Funding Unsuccessful&amp;lt;/h3&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 h5\\&amp;quot;&amp;gt;\\nThis project&amp;#39;s funding goal was not reached &amp;lt;data class=\\&amp;quot;Project947809001\\&amp;quot; data-format=\\&amp;quot;distance_date\\&amp;quot; data-value=\\&amp;quot;&amp;amp;quot;2015-07-17T21:51:04-04:00&amp;amp;quot;\\&amp;quot; itemprop=\\&amp;quot;Project[deadline]\\&amp;quot;&amp;gt;just now&amp;lt;/data&amp;gt;.\\n&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;state&amp;quot;:&amp;quot;purged&amp;quot;}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;border-left-thick border-red pl2 py2\\&amp;quot;&amp;gt;\\n&amp;lt;p class=\\&amp;quot;mb0 bold\\&amp;quot;&amp;gt;This project is purged and only visible to staff.&amp;lt;/p&amp;gt;\\n&amp;lt;/div&amp;gt;\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;/div&gt;\n&quot;"></div>
            <!-- / Back manage and star buttons -->
            <div class="NS_projects__back_and_star">
                <div class="Project947809001"
                     data-conditions="[{&quot;state&quot;:&quot;live&quot;},{&quot;!ended?&quot;:true}]"
                     data-evaluation="true"
                     data-render="&quot;&lt;div class=\&quot;inline-block mobile-hide\&quot;&gt;\n&lt;a class=\&quot;btn btn--green btn--large\&quot; href=\&quot;/projects/ysnet/shenmue-3/pledge/new?clicked_reward=false\&quot; id=\&quot;button-back-this-proj\&quot; title=\&quot;Back this project\&quot;&gt;Back This Project&lt;/a&gt;\n&lt;/div&gt;\n&lt;div class=\&quot;mobile-show\&quot;&gt;\n&lt;a class=\&quot;btn btn--green btn--block\&quot; href=\&quot;/projects/ysnet/shenmue-3/pledge/new?clicked_reward=false\&quot; id=\&quot;button-back-this-proj\&quot; title=\&quot;Back this project\&quot;&gt;Back This Project&lt;/a&gt;\n&lt;/div&gt;\n&lt;div class=\&quot;align-middle inline-block pl1 mobile-hide\&quot;&gt;&lt;/div&gt;\n&lt;div class=\&quot;ajax-container inline-block align-middle mobile-block py1\&quot; id=\&quot;watching-widget\&quot;&gt;\n&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;is_starred&amp;quot;:true}]\&quot; data-evaluation=\&quot;false\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;js-unwatch\\&amp;quot;&amp;gt;\\n&amp;lt;a class=\\&amp;quot;on green mobile-hide h5 bold\\&amp;quot; href=\\&amp;quot;/projects/ysnet/shenmue-3/unwatch\\&amp;quot;&amp;gt;&amp;lt;span class=\\&amp;quot;ss-icon ss-star margin-right\\&amp;quot;&amp;gt;&amp;lt;/span&amp;gt;\\n&amp;lt;span class=\\&amp;quot;text\\&amp;quot;&amp;gt;Remind me&amp;lt;/span&amp;gt;\\n&amp;lt;/a&amp;gt;&amp;lt;a class=\\&amp;quot;mobile-show btn btn--border-green btn--block\\&amp;quot; href=\\&amp;quot;/projects/ysnet/shenmue-3/unwatch\\&amp;quot;&amp;gt;&amp;lt;span class=\\&amp;quot;ss-icon ss-star\\&amp;quot;&amp;gt;&amp;lt;/span&amp;gt;\\nRemind me\\n&amp;lt;/a&amp;gt;&amp;lt;/div&amp;gt;\\n\\n&amp;quot;\&quot;&gt;&lt;/div&gt;&lt;div class=\&quot;Project947809001\&quot; data-conditions=\&quot;[{&amp;quot;!is_starred&amp;quot;:true}]\&quot; data-evaluation=\&quot;true\&quot; data-render=\&quot;&amp;quot;&amp;lt;div class=\\&amp;quot;js-watch\\&amp;quot;&amp;gt;\\n&amp;lt;a class=\\&amp;quot;grey-dark mobile-hide h5 bold\\&amp;quot; href=\\&amp;quot;/projects/ysnet/shenmue-3/watch\\&amp;quot;&amp;gt;&amp;lt;span class=\\&amp;quot;ss-icon ss-star margin-right\\&amp;quot;&amp;gt;&amp;lt;/span&amp;gt;\\n&amp;lt;span class=\\&amp;quot;text\\&amp;quot;&amp;gt;\\nRemind me\\n&amp;lt;/span&amp;gt;\\n&amp;lt;/a&amp;gt;&amp;lt;a class=\\&amp;quot;mobile-show btn btn--border-gray\\&amp;quot; href=\\&amp;quot;/projects/ysnet/shenmue-3/watch\\&amp;quot;&amp;gt;&amp;lt;span class=\\&amp;quot;ss-icon ss-star\\&amp;quot;&amp;gt;&amp;lt;/span&amp;gt;\\n&amp;lt;span class=\\&amp;quot;text\\&amp;quot;&amp;gt;\\nRemind me\\n&amp;lt;/span&amp;gt;\\n&amp;lt;/a&amp;gt;&amp;lt;/div&amp;gt;\\n\\n&amp;quot;\&quot;&gt;&lt;div class=\&quot;js-watch\&quot;&gt;\n&lt;a class=\&quot;grey-dark mobile-hide h5 bold\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star margin-right\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;a class=\&quot;mobile-show btn btn--border-gray\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;/div&gt;\n\n&lt;/div&gt;&lt;/div&gt;\n&quot;">
                    <div class="inline-block mobile-hide">
                        <a class="btn btn--green btn--large" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/pledge/new?clicked_reward=false" id="button-back-this-proj" title="Back this project">Back This Project</a>
                    </div>
                    <div class="mobile-show">
                        <a class="btn btn--green btn--block" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/pledge/new?clicked_reward=false" id="button-back-this-proj" title="Back this project">Back This Project</a>
                    </div>
                    <div class="align-middle inline-block pl1 mobile-hide"></div>
                    <div class="ajax-container inline-block align-middle mobile-block py1" id="watching-widget">
                        <div class="Project947809001" data-conditions="[{&quot;is_starred&quot;:true}]" data-evaluation="false" data-render="&quot;&lt;div class=\&quot;js-unwatch\&quot;&gt;\n&lt;a class=\&quot;on green mobile-hide h5 bold\&quot; href=\&quot;/projects/ysnet/shenmue-3/unwatch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star margin-right\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;Remind me&lt;/span&gt;\n&lt;/a&gt;&lt;a class=\&quot;mobile-show btn btn--border-green btn--block\&quot; href=\&quot;/projects/ysnet/shenmue-3/unwatch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star\&quot;&gt;&lt;/span&gt;\nRemind me\n&lt;/a&gt;&lt;/div&gt;\n\n&quot;"></div>
                        <div class="Project947809001" data-conditions="[{&quot;!is_starred&quot;:true}]" data-evaluation="true" data-render="&quot;&lt;div class=\&quot;js-watch\&quot;&gt;\n&lt;a class=\&quot;grey-dark mobile-hide h5 bold\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star margin-right\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;a class=\&quot;mobile-show btn btn--border-gray\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;/div&gt;\n\n&quot;">
                            <div class="js-watch">
                                <a class="grey-dark mobile-hide h5 bold" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/watch"><span class="ss-icon ss-star margin-right"></span>
<span class="text">
Remind me
</span>
                                </a><a class="mobile-show btn btn--border-gray" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/watch"><span class="ss-icon ss-star"></span>
<span class="text">
Remind me
</span>
                                </a></div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- / This project will only be funded if... -->
            <div class="NS_projects__deadline_copy">
                <div class="Project947809001" data-conditions="[{&quot;state&quot;:&quot;live&quot;}]" data-evaluation="true" data-render="&quot;&lt;p class=\&quot;h6 grey-dark mb0\&quot;&gt;\nThis project will be funded on &lt;time class=\&quot;invisible-if-js js-adjust-time\&quot; data-format=\&quot;llll z\&quot; datetime=\&quot;2015-07-17T21:51:04-04:00\&quot;&gt;Fri, Jul 17 2015 9:51 pm EDT&lt;/time&gt;.\n&lt;/p&gt;\n&quot;">
                    <p class="h6 grey-dark mb0">
                        This project will be funded on
                        <time class="js-adjust-time" data-format="llll z" datetime="2015-07-17T21:51:04-04:00">Fri, Jul 17 2015 9:51 PM EDT</time>
                        .
                    </p>
                </div>
            </div>

            <!-- / Social avatars -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-8 py4">
        <div class="mobile-hide">
            <p class="h3 mb3">
                Yu Suzuki presents the long awaited third installment in the {{ camp.name }} series.
            </p>

            <div class="h5">
                <a class="grey-dark mr3 nowrap" href="https://www.kickstarter.com/discover/places/tokyo-jp?ref=city"><span class="ss-icon ss-location margin-right"></span>
                    <b>Tokyo, Japan</b>
                </a><a class="grey-dark mr3 nowrap" href="https://www.kickstarter.com/discover/categories/games/video%20games?ref=category"><span class="ss-icon ss-tag margin-right"></span>
                    <b>Video Games</b>
                </a>

                <div class="btn btn--border-gray btn--small" href="#" id="project_share">Share this project</div>
            </div>
        </div>
    </div>
    <div class="col col-4">
        <div class="border-top py4">
            <div class="row clip">
                <div class="NS_projects__creator">
                    <div class="col-right col-4 align-right mobile-center pr2 border-box">
                        <div class="mobile-hide"><a class="remote_modal_dialog" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio"><img alt="" class="avatar-small circle" height="80" src="./Shenmue 3 by Ys Net — Kickstarter_files/yslogo4.original.png" width="80"></a></div>
                        <div class="mobile-show"><a href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio"><img alt="" class="avatar-small circle" height="80" src="./Shenmue 3 by Ys Net — Kickstarter_files/yslogo4.original.png" width="80"></a></div>
                    </div>
                    <div class="col col-8">
                        <h5 class="mobile-hide"><a class="remote_modal_dialog green-dark" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio">Ys Net</a></h5>

                        <div class="mobile-show center py1">
                            <h5 class="mb1">Project by </h5>

                            <h3 class="normal mb0"><a class="green-dark" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio">Ys Net</a></h3>
                        </div>
                        <div class="flag mobile-hide">
                            <div class="flag-img">
                                <span class="ss-social-circle ss-kickstarter h6 grey-dark"></span>
                            </div>
                            <div class="flag-body">
                                <p class="h5 mb0">
<span class="inline-block">
<span class="grey-dark">First created</span>
<span class="grey-dark">&nbsp;|&nbsp;</span>
</span>
<span class="inline-block">
<span class="grey-dark">0 backed</span>
</span>
                                </p>
                            </div>
                        </div>
                        <div class="mb1 mobile-hide">
                            <div class="flag">
                                <div class="flag-img">
                                    <span class="ss-icon ss-globe h6 grey-dark"></span>
                                </div>
                                <div class="flag-body">
                                    <p class="h5 mb0 grey-dark ellipsis">
                                        <a class="bold grey-dark popup" href="http://shenmue.link/" rel="nofollow" target="_blank">shenmue.link</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <p class="h5 bold mobile-hide">
                            <a class="remote_modal_dialog full_bio mr2" data-modal-class="modal_project_by" data-modal-title="About the creator" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/creator_bio">See full bio</a>
                            <a class="remote_modal_dialog message_creator_modal_link" data-modal-class="modal_send_message" data-modal-title="Send a message to Ys Net" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/messages/new?message%5Bto%5D=ysnet">Contact me</a>

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</section>

<div class="NS_projects__project_nav">
    <section class="js-project-nav project-nav border-top border-bottom full-width bg-white clip skrollable skrollable-between" data-0="position:static;" data-top-top="position:fixed; top:0;" style="position: static; top: 0px;">
        <div class="container-flex px2 relative mobile-scroll-container mobile-center">
            <div class="nav-wrapper table relative">
                <div class="table-cell project-nav-tabs-col relative">
                    <ul class="list mb0 h5 bold nowrap mobile-scroll-row row relative">
                        <div class="selected-indicator js-selected-indicator transition-all-bezier" style="left: 18.46875px; width: 68px;"></div>
                        <li class="project-nav-item mobile-show mobile-scroll-item">
                            <a class="js-load-project-content pt3 pb3 green-dark block js-load-project-rewards  center" data-content="rewards" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/rewards" id="home_nav">Rewards</a>
                        </li>
                        <li class="project-nav-item mobile-scroll-item">
                            <a class="js-load-project-content pt3 pb3 green-dark block js-load-project-description current center" data-content="description" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/description" id="home_nav">Campaign</a>
                        </li>
                        <li class="project-nav-item mobile-scroll-item">
                            <a class="js-load-project-content pt3 pb3 green-dark inline-block nowrap js-load-project-updates " data-content="updates" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/updates" id="updates_nav">Updates
                                <span class="mobile-hide"></span>
                            </a></li>
                        <li class="project-nav-item mobile-scroll-item">
<span data-comments-count="5468" id="comments_count">
<a class="js-load-project-content pt3 pb3 green-dark block nowrap js-load-project-comments center" data-content="comments" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/comments" id="comments_nav">Comments
<span class="mobile-hide">
(<data class="Project947809001" data-format="number" data-value="5470" itemprop="Project[comments_count]">5,470</data>)
</span>
</a></span>
                        </li>
                    </ul>
                </div>
                <div class="table-cell mobile-hide mt2 project-nav-button-star-col">
                    <div class="relative clearfix skrollable skrollable-before" data-600="bottom: -70px;" data-800="bottom: 0px;" style="bottom: -70px;">
                        <div class="right py1">
                            <div class="ajax-container" id="watching-widget">
                                <div class="Project947809001" data-conditions="[{&quot;is_starred&quot;:true}]" data-evaluation="false" data-render="&quot;&lt;div class=\&quot;js-unwatch\&quot;&gt;\n&lt;a class=\&quot;on green mobile-hide h5 bold\&quot; href=\&quot;/projects/ysnet/shenmue-3/unwatch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star margin-right\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;Remind me&lt;/span&gt;\n&lt;/a&gt;&lt;a class=\&quot;mobile-show btn btn--border-green btn--block\&quot; href=\&quot;/projects/ysnet/shenmue-3/unwatch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star\&quot;&gt;&lt;/span&gt;\nRemind me\n&lt;/a&gt;&lt;/div&gt;\n\n&quot;"></div>
                                <div class="Project947809001" data-conditions="[{&quot;!is_starred&quot;:true}]" data-evaluation="true" data-render="&quot;&lt;div class=\&quot;js-watch\&quot;&gt;\n&lt;a class=\&quot;grey-dark mobile-hide h5 bold\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star margin-right\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;a class=\&quot;mobile-show btn btn--border-gray\&quot; href=\&quot;/projects/ysnet/shenmue-3/watch\&quot;&gt;&lt;span class=\&quot;ss-icon ss-star\&quot;&gt;&lt;/span&gt;\n&lt;span class=\&quot;text\&quot;&gt;\nRemind me\n&lt;/span&gt;\n&lt;/a&gt;&lt;/div&gt;\n\n&quot;">
                                    <div class="js-watch">
                                        <a class="grey-dark mobile-hide h5 bold" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/watch"><span class="ss-icon ss-star margin-right"></span>
<span class="text">
Remind me
</span>
                                        </a><a class="mobile-show btn btn--border-gray" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/watch"><span class="ss-icon ss-star"></span>
<span class="text">
Remind me
</span>
                                        </a></div>

                                </div>
                            </div>
                        </div>
                        <div class="right mr2">
                            <a class="btn btn--green" href="https://www.kickstarter.com/projects/ysnet/shenmue-3/pledge/new?clicked_reward=false" title="Back This Project">Back This Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="NS_projects__content">
<section class="js-could-have-report-project js-project-content js-project-description-content project-content" data-project-state="live">
<div class="NS_projects__description_section">
<div class="py6 bg-white">
<div class="container-flex px2">
<div class="row">
<div class="col col-8">
<div class="mb6">
    <h3 class="normal mb4 mobile-hide">
        About this project
    </h3>
</div>
<div class="full-description js-full-description responsive-media formatted-lists">
<p><b><a href="http://shenmue.link/ks.html" target="_blank">日本語でのプロジェクト説明はこちら</a></b></p>

<p><b><a href="http://shenmue.link/ks2.html" target="_blank">日本語での支援方法説明はこちら</a></b></p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941367/edit" data-id="3941367">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/a334ff6efce9544716dc6093d9740356_original.jpg">
    </figure>

</div>


<p>Shenmue 3 is the true sequel to the classic open world action RPG games, Shenmue and Shenmue 2. Created for modern platforms (PC and PlayStation 4) and built in Unreal 4, Shenmue 3 will continue the legacy of Shenmue.</p>

<p>With your help, we can <b>#SaveShenmue</b> and rejoin&nbsp;Ryo and our favorite characters on this new adventure!</p>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931567/edit" data-id="3931567">
    <figure>
        <img alt="All images on the Kickstarter page are a work in progress." class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/942936391c79b3d63a33c350a8add2bb_original.jpg">
        <figcaption>All images on the Kickstarter page are a work in progress.</figcaption>
    </figure>

</div>


<ul>
    <li>Shenmue 3 will have familiar elements from its predecessors and new fight mechanics to achieve a new level of interactive storytelling.&nbsp;</li>
    <li>If this project reaches its funding goal, Shenmue 3 will be available on the PS4 and PC.&nbsp;</li>
    <li>Our ambition is to deliver a Shenmue experience that will draw in newcomers to the series and reward diehard fans with its deep story and rich gameplay.</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931574/edit" data-id="3931574">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/2acbc3399e9e09a2ec2ce2b16558f3bf_original.jpg">
    </figure>

</div>


<p>Where we left off...&nbsp;Ryo Hazuki has made his way to China in search of his father’s killer. There he meets a new travelling companion, Shenhua, and learns of a legend from her village that has foretold their path together.&nbsp;</p>

<p>The story continues as Ryo and Shenhua start off on a new journey that will take them farther into enemy territory, deeper into mystery, and ever closer to their destiny.&nbsp;</p>

<p>Will the mystery of the mirrors be revealed? How is Ryo’s father connected to all of this? Will Ryo track down the Chi You Men cartel and face Lan Di in a final showdown? </p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931549/edit" data-id="3931549">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/d162b9aa87b3c458a27d27ed49444b9a_original.jpg">
    </figure>

</div>


<p>Since the release of Shenmue 2, now 14 years ago, I have been greeted by the passionate outpouring of dedicated fans and Shenmue community members wherever I go. They all want to know one thing: "When will Shenmue 3 be coming out?" With the advent of games using Kickstarter during these past few years, the new and now frequent demand from the fans has been, “Do a Kickstarter for Shenmue 3!”&nbsp;</p>

<p>If Shenmue 3 was going to get made, I wanted to make it with the fans. Through Kickstarter, I knew that could happen. Together, with Shenmue fans everywhere, I knew we could build the game that the series deserves. </p>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931577/edit" data-id="3931577">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/52145d62ac7725ea2c9cba21d3a1d8a7_original.jpg">
    </figure>

</div>


<p>If we do not reach our funding goal, Shenmue 3 will not go forward. I know that the goal of making Shenmue 3 with the fans, and seeing Shenmue in the hands of gamers all around the world is a lofty one. We are balancing our ambitions for a grand sequel with the pragmatic realities of developing a game of this scale. It will not be easy, but I have dreamed of making this sequel for 14 years – it is time to bring Shenmue back! And to make it come true, it will need the love and support from each and every one of you!</p>

<p>So please join us in making Shenmue 3 – let us grow our community and build a new, exciting Shenmue experience!</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3932172/edit" data-id="3932172">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/d7f5868cc49d5757e3cfd10a98a112d3_original.jpg">
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931585/edit" data-id="3931585">
    <figure>
        <img alt="Ryo - On a journey to avenge his father." class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/9b4f386a1619ba866c2e26c3b579b0c9_original.jpg">
        <figcaption>Ryo - On a journey to avenge his father.</figcaption>
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931586/edit" data-id="3931586">
    <figure>
        <img alt="Shenhua - Raised among the forests of China." class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/07549bdf76cb18098c07f7a3e25bbcfa_original.jpg">
        <figcaption>Shenhua - Raised among the forests of China.</figcaption>
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931587/edit" data-id="3931587">
    <figure>
        <img alt="Lan Di - Coldblooded boss of the shadowy Chi You Men." class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/16de0fa5d5c64654cc22df3cedb36798_original.jpg">
        <figcaption>Lan Di - Coldblooded boss of the shadowy Chi You Men.</figcaption>
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931590/edit" data-id="3931590">
    <figure>
        <img alt="Niao Sun - Deadly siren of the Chi You Men" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/0049c0a047aadbb1eb3607d9f4323798_original.jpg">
        <figcaption>Niao Sun - Deadly siren of the Chi You Men</figcaption>
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955047/edit" data-id="3955047">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/ccdebe863c21c54522e912a7560eb051_original.jpg">
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955049/edit" data-id="3955049">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/bdbbff57bc8cd743d67d488a19070523_original.png">
    </figure>

</div>


<p>A pioneer in gaming entertainment for over three decades, He has cemented a place in history for his visionary work. The advancements he brought about in 3D technology, open world gaming, and game play mechanics have broken and redefined genre after genre, influencing countless games since.</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3983977/edit" data-id="3983977">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/ea8e6bea467723118cd60da6768837da_original.png">
    </figure>

</div>


<p>Shibuya Productions

   President &amp; CEO


   &nbsp;Based in Monaco, Shibuya Productions produces and promotes animation, games and movies.


   Engaged and knowledgeable about Japanese culture, they serve as a nexus of cultural exchange to and from Japan. They are currently producing the new Astroboy TV series: Astroboy Reboot.&nbsp;</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955050/edit" data-id="3955050">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/8e27419cd489924e58040f8d01ee37a9_original.png">
    </figure>

</div>


<p>Takeshi Hirai is the lead programmer for the Shenmue series. In 2010 founded the independent game development studio, Neilo Inc, producing <i>Orgarythm</i>&nbsp;for the Playstation Vita and the Japanese arcade version of <i>Left 4 Dead: Survivors</i>.</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955054/edit" data-id="3955054">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/b986675dc22d3e661ea5443449cbd48b_original.png">
    </figure>

</div>


<p>Wrote the screenplay and game script for Shenmue. Masahiro Yoshimoto has over thirty years of experience writing for Japanese movies and TV dramas.</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955057/edit" data-id="3955057">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/63b40e5c825d131ca2964753b7e1764c_original.png">
    </figure>

</div>


<p>Shenmue’s main character design artist. After working with SEGA, Kenji Miyawaki went on to do mechanical and prop design for anime including the<i> Bakugan</i> series, <i>Maken-Ki! Battling Venus</i> and&nbsp;<i>Nura: Rise of the Yokai Clan: Demon Capital. </i></p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955060/edit" data-id="3955060">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/cc64e4b0053e3ce509ff5064a4828e5b_original.png">
    </figure>

</div>


<p>A prolific composer and performer, Ryuji Iuchi wrote many songs for Shenmue 1 &amp; 2 including "Shenhua's Theme." His long list of work includes composition and arrangement for albums, movies, TV programs, concerts and events.&nbsp;Among his video game credits are&nbsp;<i>Exstetra </i>and<i> Spectral Force Legacy.</i></p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955063/edit" data-id="3955063">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/826a74ce02657642a280bb0c29210a7d_original.png">
    </figure>

</div>


<p>Manabu Takimoto was the environment designer for the original Shenmue. He is an architect who has designed everything from office buildings to bars. His work with Shenmue helped bring the outside world into video games.</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955065/edit" data-id="3955065">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/abd6d0700674f799a2646e2eea3a8169_original.png">
    </figure>

</div>


<p>The actor playing Ryo in Shenmue 1 and 2. A star of both stage and screen, Masaya Matsukaze has also lent his voice for video games, radio, and many anime including&nbsp;<i>Death Note</i>, <i>Fairy</i> <i>Tale, Gintama, and Hunter x Hunter.</i></p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955068/edit" data-id="3955068">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/0ee0b6fa29e441cc6dd6b8d1d594d35a_original.png">
    </figure>

</div>


<p>Hiroaki Takeuchi is Japan’s leading producer in both traditional cel and digital animation. Worked at the publishing house SHUEISHA, Inc. producing the website which brought <i>Yu-Gi-Oh!</i> and <i>Dragon Ball</i> to the world. Co-produced <a href="http://www.intothematrix.com/" target="_blank"><i>The Animatrix</i></a>.</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955071/edit" data-id="3955071">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/1f1c150fecada7a94bc883250d95bf31_original.png">
    </figure>

</div>


<p>Director, producer, and animator, Kenji Itoso already has a long career in the live film and animation industries, and has self-produced a number of animated films, including the award winning <a href="https://www.kickstarter.com/projects/itoso-tag/santa-company" target="_blank"><i>Santa Company</i></a>&nbsp;and <a href="https://www.kickstarter.com/projects/1287579779/coluboccoro?ref=nav_search" target="_blank"><i>Coluboccoro</i></a>. </p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3955072/edit" data-id="3955072">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/b75690927f605561d65700895f5c536e_original.png">
    </figure>

</div>


<p>Communication, media relations and Kickstarter project consultation and support.</p>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931554/edit" data-id="3931554">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/3464b5b3a5648c1ef37f1cf15311a70f_original.jpg">
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941305/edit" data-id="3941305">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/aea3e2e1073be135bbbcf2e2e972d203_original.png">
    </figure>

</div>


<ul>
    <li>Yu Suzuki's thanks and praise.</li>
    <li>Be able to participate in surveys and vote in polls for the ideas you want to see in the game.</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3983099/edit" data-id="3983099">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/9ca7c23d50ef8d7b45de33e99179f9ba_original.jpg">
    </figure>

</div>


<ul>
    <li>Digital copy of Shenmue 3 for PC or PS4.</li>
    <li>Includes the $5 Reward.</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941311/edit" data-id="3941311">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/71e52ff7f7e15a34b1a952ef4b1c0696_original.png">
    </figure>

</div>


<ul>
    <li>Physical copy of Shenmue 3 in an exclusive, backer-only case (PC only).&nbsp;</li>
    <li>Includes the $5 Reward.&nbsp;</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941313/edit" data-id="3941313">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/b21ec0280ec2c447134827f0926ca1ed_original.png">
    </figure>

</div>


<ul>
    <li>Your choice of a digital copy of the game for PC or PS4, or a physical copy for PC</li>
    <li>Digital copy of the trial version for PC</li>
    <li>Your name in the credits.</li>
    <li>Includes the $5 Reward.&nbsp;</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941314/edit" data-id="3941314">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/09015942415aaaeb6efaa577f2b0691c_original.png">
    </figure>

</div>


<ul>
    <li>One of four random figures: Ryo, Shenhua, Chai or the Forklift. (
        Actual figures may differ from the concept images)
    </li>
    <li>Includes the $100 Reward.</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941386/edit" data-id="3941386">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/fc018c01f4f1456fcc21e0b5c7a778e7_original.png">
    </figure>

</div>


<ul>
    <li>Backer-only Advanced Technique Scroll (In-game Item)</li>
    <li>20 Capsule Toy Tickets&nbsp;&nbsp;(In-game Item)</li>
    <li>Mp3 download of the original soundtrack with unreleased tracks</li>
    <li>Digital artbook filled with unreleased illustrations</li>
    <li>Shenmue 3 T-shirt</li>
    <li>Includes the $120 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941322/edit" data-id="3941322">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/175ae94691e8fa5fe0e487e95f0aa356_original.png">
    </figure>

</div>


<ul>
    <li>Printed artbook curated by Yu Suzuki</li>
    <li>Includes the $160 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941390/edit" data-id="3941390">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/65e5ee17d5b202f8574ccf9872b09c60_original.png">
    </figure>

</div>


<ul>
    <li>Illustration</li>
    <li>Backer-only Arcane Technique Scroll (In-game Item)</li>
    <li>Skin-change feature for Ryo's Jacket (In-game Item)</li>
    <li>Physical CD soundtrack</li>
    <li>Includes the $175 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941393/edit" data-id="3941393">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/8af8cc3e57b84ed6a293cee23ddb18ed_original.png">
    </figure>

</div>


<ul>
    <li>Illustration signed by Yu Suzuki&nbsp;</li>
    <li>Backer-only Arcane Technique Scroll (In-game Item)&nbsp;</li>
    <li>Skin-change feature for Ryo's Jacket (In-game Item)&nbsp;</li>
    <li>Physical CD soundtrack&nbsp;</li>
    <li>Includes the $175 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941395/edit" data-id="3941395">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/327cfd5c56a029c9b3ff58581a3511cb_original.png">
    </figure>

</div>


<ul>
    <li>Get all four figures: Ryo, Shenhua, Chai and the Forklift</li>
    <li>Includes the $300 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941558/edit" data-id="3941558">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/8c34f59b39b5f2d2610714aed7575edc_original.png">
    </figure>

</div>


<ul>
    <li>The original jacket worn by Masaya Matsukaze for all of the Shenmue press events 14 years ago</li>
    <li>Special video message just for you by Yu Suzuki</li>
    <li>Named as a Special Sponsor in the credits</li>
    <li>Includes the $500 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3941560/edit" data-id="3941560">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/211e5a205b67224b86d5cabb1797abe9_original.png">
    </figure>

</div>


<ul>
    <li>Bring a friend to join a dinner party in Japan with Yu-san and the other backers of this tier. (Date will be tentatively set for September, 2016)
        &nbsp;</li>
    <li>Original script set from Shenmue 1 and 2</li>
    <li>Named as a Special Sponsor in the credits</li>
    <li>Includes the $500 Reward</li>
</ul>
<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3989695/edit" data-id="3989695">
    <figure>
        <img alt="Blue symbols indicate a choice between a digital or a physical copy." class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/dcdfdab4697e617cc4e621a700667d63_original.png">
        <figcaption>Blue symbols indicate a choice between a digital or a physical copy.</figcaption>
    </figure>

</div>


<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/3931557/edit" data-id="3931557">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/c6ba83271abf5984f1d5a3414f76bf3e_original.jpg">
    </figure>

</div>


<p>14 years of planning and ideas from one of the greatest game designers of all time… darn right, there are Stretch Goals! Could these Stretch Goals lead this next Shenmue to change the way we play games again? You know they can. But we can’t add Stretch Goals after the game is on shelves.&nbsp;</p>

<p>The more we can raise during this campaign, the more Shenmue 3 will come alive. Together, we can make it happen.&nbsp;Together, we can make a Shenmue that surpasses even the originals!</p>


<p>&nbsp; More details to come for these goals as after we reach our funding!</p>

<div class="template asset" contenteditable="false" data-edit_url="/projects/ysnet/shenmue-3/assets/4007186/edit" data-id="4007186">
    <figure>
        <img alt="" class="fit" src="./Shenmue 3 by Ys Net — Kickstarter_files/ce6b732215e48e205b3f187a28384931_original.png">
    </figure>

</div>
<p>&nbsp;</p>
</div>
<div class="mb6 mb2">
    <div class="mobile-show py2"></div>
    <h3 class="normal mb4">Risks and challenges</h3>

    <p>Risk and challenge are two words that have been with Shenmue 3 for the past 14 years. In fact, Shenmue has always been about risk and challenge. This time will be no different. </p>

    <p>The real challenge now is to deliver a sequel that we will all be satisfied with after 14 years of waiting. After much research and planning, we set the funding goal at this level believing it will make possible a fulfilling Shenmue experience.</p>

    <p>With regards to development of the game, we have an experienced team, deeply connected with the Shenmue franchise. With modern tools, experienced professionals, and the community of Shenmue by our sides, we have set ourselves up for success.</p>

    <p>We will do our absolute best to deliver Shenmue 3 and the rewards by their respective deadlines. However, there is always the possibility that problems may arise which could affect reward delivery. There may end up being changes in game or reward designs. We may press right when we are supposed to press left and get hilariously head butted and kneed in the groin. </p>

    <p>In these situations, the whole Shenmue 3 team promises to keep you updated and informed on the game development and reward delivery progress. We are all very excited, ambitious, and optimistic that we have prepared well, and are ready for the challenges that are ahead of us.</p>

    <p>Ryo and Shenhua are not out of the woods yet, so we ask for your ongoing support.</p>
</div>


</div>
<div class="col col-4">
<div class="mb6 mobile-hide">
{%  include "rewards.html.twig" %}

</div>
<div class="NS_projects__blog_mentions">
</div>

<div class="NS_projects__funding_period">
</div>

</div>
</div>
</div>
</div>
</div>

</section>
<section class="hide js-project-content js-project-rewards-content project-content" data-path="/projects/ysnet/shenmue-3/posts">
</section>
<section class="hide js-project-content js-project-updates-content project-content" data-project-state="live">
</section>
<section class="hide js-could-have-post-media js-project-content js-project-posts-content project-content" data-path="/projects/ysnet/shenmue-3/posts">
</section>
<section class="hide js-project-content js-project-post-content project-content">
</section>
<section class="hide js-could-have-comments js-project-comments-content js-project-content project-content">
</section>
</div>


</div>


</div>
