<div class="mega-footer__newsletter-signup js-mega-footer__newsletter-signup">
    <div class="container-flex">
        <div class="col-center col-6">
            <h2 class="h2">Eureka! You've found<br> our little secret.</h2>

            <p>Sign up for our Happening email for all the inside info about arts and culture in the Kickstarter universe and beyond.</p>

            <div class="newsletter-signup">
                <form accept-charset="UTF-8" action="https://www.kickstarter.com/newsletters/happening/signup" class="overlabels" method="post">
                    <div style="margin:0;padding:0;display:inline"><input class="hidden" name="utf8" type="hidden" value="✓"><input class="hidden" name="authenticity_token" type="hidden" value="t94bxjfjqXqvE3te1N/yPUhHQRhZ71HRMkqxmMTaaow="></div>
                    <input class="hidden" id="location" name="location" type="hidden" value="footer">
                    <textarea class="hide textarea" id="comment" name="comment"></textarea>
                    <input class="btn  button_submit submit_no_user appended-button-right submit" name="commit" type="submit" value="Subscribe">

                    <div class="field append-button-right">
                        <label class="overlabel z1 overlabel-newsletter ellipsis-line overlabel-apply">Email address</label>
                        <input class="newsletter_email_input append-button-right__input text" id="email" name="email" type="text">
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<div class="mega-footer__content js-mega-footer__content container-flex">
    <span class="scissors icon-scissors-1"></span>

    <div class="row mega-footer__links">
        <div class="mobile-col mobile-col-6">
            <div class="row">
                <div class="col col-6 mega-footer__links-list">
                    <h3 class="mega-footer__header">About us</h3>
                    <ul>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/hello?ref=footer">What is Kickstarter?</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/year/2014?ref=footer#intro">Year in Kickstarter 2014</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/team?ref=footer">Who we are</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/jobs?ref=footer">Jobs</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/press?ref=footer">Press</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/stats?ref=footer">Stats</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/newsletters/weekly">Projects we love</a></li>
                        <li>
                            <a class="mega-footer__link" href="https://www.kickstarter.com/spotlight">Spotlight</a>
                            <span class="flag-callout">New!</span>
                        </li>
                    </ul>
                </div>
                <div class="col col-6 mega-footer__links-list">
                    <h3 class="mega-footer__header"><a class="mega-footer__header-link" href="https://www.kickstarter.com/help?ref=footer">Help</a></h3>
                    <ul>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/faq/kickstarter+basics?ref=footer">FAQ</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/rules?ref=footer">Our Rules</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/help/handbook?ref=footer">Creator Handbook</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/trust?ref=footer">Trust &amp; Safety</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/contact?ref=footer">Support</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/terms-of-use?ref=footer">Terms of Use</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/privacy?ref=footer">Privacy Policy</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/cookies?ref=footer">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="mobile-col mobile-col-6">
            <div class="row">
                <div class="col col-8 mega-footer__links-list">
                    <h3 class="mega-footer__header"><a class="mega-footer__header-link" href="https://www.kickstarter.com/discover/advanced?ref=footer">Discover</a></h3>

                    <div class="row">
                        <ul class="col col-6 column-0">
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Art?ref=footer">Art</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Comics?ref=footer">Comics</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Crafts?ref=footer">Crafts</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Dance?ref=footer">Dance</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Design?ref=footer">Design</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Fashion?ref=footer">Fashion</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Film%20&%20Video?ref=footer">Film &amp; Video</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Food?ref=footer">Food</a></li>
                        </ul>
                        <ul class="col col-6 column-1">
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Games?ref=footer">Games</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Journalism?ref=footer">Journalism</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Music?ref=footer">Music</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Photography?ref=footer">Photography</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Publishing?ref=footer">Publishing</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Technology?ref=footer">Technology</a></li>
                            <li><a class="mega-footer__link" href="https://www.kickstarter.com/discover/categories/Theater?ref=footer">Theater</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-4 mega-footer__links-list">
                    <h3 class="mega-footer__header">Hello</h3>
                    <ul>
                        <li>
                            <a class="mega-footer__link" href="https://www.kickstarter.com/happening?ref=footer">Happening</a>
                        </li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/blog?ref=footer">Company Blog</a></li>
                        <li><a class="mega-footer__link" href="https://www.kickstarter.com/backing-and-hacking?ref=footer">Engineering Blog</a></li>
                        <li>
                            <a class="mega-footer__link" href="https://twitter.com/kickstarter"><span aria-hidden="true" class="ksr-icon__twitter"></span>
                                Twitter
                            </a></li>
                        <li>
                            <a class="mega-footer__link" href="https://www.facebook.com/Kickstarter"><span aria-hidden="true" class="ksr-icon__facebook"></span>
                                Facebook
                            </a></li>
                        <li>
                            <a class="mega-footer__link" href="http://kickstarter.tumblr.com/"><span aria-hidden="true" class="ksr-icon__tumblr"></span>
                                Tumblr
                            </a></li>
                        <li>
                            <a class="mega-footer__link" href="http://instagram.com/kickstarter"><span aria-hidden="true" class="ksr-icon__instagram"></span>
                                Instagram
                            </a></li>
                        <li>
                            <a class="mega-footer__link" href="https://www.pinterest.com/kickstarter/"><span aria-hidden="true" class="ksr-icon__pinterest"></span>
                                Pinterest
                            </a></li>
                        <li>
                            <a class="mega-footer__link" href="https://www.youtube.com/user/kickstarter"><span aria-hidden="true" class="ksr-icon__youtube"></span>
                                YouTube
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mega-footer__bottom">
        <div class="row">
            <div class="col col-6">
                <a class="ksr-logo footer-logo" href="https://www.kickstarter.com/"><span>KICKSTARTER</span>
                </a>

                <p>
                    ©
                    2015
                    Kickstarter, Inc.
                </p>
            </div>
            <div class="col col-6">
                <form>
                    <div style="margin:0;padding:0;display:inline"><input class="hidden" name="utf8" type="hidden" value="✓"><input class="hidden" name="authenticity_token" type="hidden" value="t94bxjfjqXqvE3te1N/yPUhHQRhZ71HRMkqxmMTaaow="></div>
                    <div class="ksr-select ondark right mobile-left h5">
                        <div class="title">English</div>
                        <select class="select" id="lang" name="lang">
                            <option selected="selected" value="en">English</option>
                            <option value="de">Deutsch</option>
                            <option value="es">Español</option>
                            <option value="fr">Français</option>
                        </select>
                        <span aria-hidden="true" class="ksr-icon__arrow-down"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>