<h1 class="ksr-logo">
    <a class="" href="index.php"><span>Sick</span>Martyr</a>
</h1>
<div class="nav-container">
    <div class="link-box">
        <div class="fake-link">Discover</div>
        <div class="fake-link">Start</div>
    </div>
    <div class="middle">
        <div class="searchbox">
            <span class="icon">&#x1f50e;</span>
            <input placeholder="Search Projects" type="text"/>
        </div>
    </div>
    <div class="link-box">
        <div class="fake-link">Sign up</div>
        <div class="fake-link"><a href="https://github.com/Fortyseven/SickMartyr/" target="_blank">GitHub Fork</a></div>
    </div>
</div>