<div id="ProjectHeader">
    <div class="project-name">{{ camp.ProjectName }}</div>
    <div class="project-owner">by <span>{{ camp.OwnerName }}</span></div>
    <div class="video-block">
        <div class="play">&#9658; PLAY</div>
    </div>
</div>